<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        form {
            max-width: 400px;
            margin: auto;
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        button {
            background-color: #4c93af;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <h2>Booked Appointments</h2>
    
    <h3>Yawar</h3>
    <h4>Slot: 10:00-11:00 </h4>
    <h4>yawar@rmail.com</h4> <br/><br/>

    <a href="/create">
    <button>
      Create Slot
    </button>
    </a>
    
    <a href="/available">
    <button>
        Available Slot
    </button>
        </a>

</body>
</html>